{% extends 'index.html' %}

{% block topFrame %}
<div class="topFrame">
    <div class="FrameCorner">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        fill="none"
        viewBox="0 0 17 17"
    >
        <path
        d="M15.29.495H819.96a1.5 1.5 0 011.5 1.5v275.172c0 .398-.158.779-.439 1.06l-14.828 14.829a1.503 1.503 0 01-1.061.439H1.961a1.5 1.5 0 01-1.5-1.5V15.324c0-.398.158-.78.44-1.061L14.229.934a1.5 1.5 0 011.06-.439z"
        ></path>
    </svg>
    </div>
    <div class="FrameLine"></div>
</div>
{% endblock %}

{% block bottomFrame %}
    <div class="bottomFrame">
      <div class="FrameLine"></div>
      <div class="FrameCorner rightBottomCorner">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          fill="none"
          viewBox="0 0 17 17"
        >
          <path
            d="M15.29.495H819.96a1.5 1.5 0 011.5 1.5v275.172c0 .398-.158.779-.439 1.06l-14.828 14.829a1.503 1.503 0 01-1.061.439H1.961a1.5 1.5 0 01-1.5-1.5V15.324c0-.398.158-.78.44-1.061L14.229.934a1.5 1.5 0 011.06-.439z"
          ></path>
        </svg>
      </div>
    </div>
{% endblock %}